---
import Layout from "../../layouts/Layout.astro";
// import { Image } from "astro:assets";
// import eventBg from "../../images/event-image.png"
import Button from "../../components/element/Button.astro";
---

<Layout title="Event Details" description="tech" keywords="" image="">
  <!-- event title and breadcrumb -->
  <section class="w-full pt-40 overflow-hidden">
    <!-- title section -->
    <div class="container bg-gray-200 w-[1142px] h-[179px] mx-auto rounded-3xl">
      <div class="grid grid-cols-[1fr_auto] w-[751px] h-[152px] p-0 lg:px-4 md:gap-2">
        <div class="w-[751px] h-[152px] px-4">
          <!-- breadcrumb -->
          <nav class="text-gray-700 text-sm mb-4 pt-2" aria-label="Breadcrumb">
            <ol class="list-none p-0 inline-flex">
              <li class="flex items-center">
                <a href="#">Events</a>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                >
                  <path
                    d="M6 12.5L10 8.5L6 4.5"
                    stroke="#8F8F8F"
                    stroke-width="1.33333"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </li>
              <li class="flex items-center">
                <a href="#" aria-current="page">Event Details</a>
              </li>
            </ol>
          </nav>
          <!-- text -->
          <div class="text-gray-900 text-4xl font-semibold">
            Sustainable development of Tech skills among local communities
          </div>
          <div class="pt-2 inline-flex">
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M18 22C19.6569 22 21 20.6569 21 19C21 17.3431 19.6569 16 18 16C16.3431 16 15 17.3431 15 19C15 20.6569 16.3431 22 18 22Z"
                  stroke="gray"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                </path>
                <path
                  d="M6 15C7.65685 15 9 13.6569 9 12C9 10.3431 7.65685 9 6 9C4.34315 9 3 10.3431 3 12C3 13.6569 4.34315 15 6 15Z"
                  stroke="gray"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                </path>
                <path
                  d="M8.58997 13.5098L15.42 17.4898"
                  stroke="gray"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                </path>
                <path
                  d="M18 8C19.6569 8 21 6.65685 21 5C21 3.34315 19.6569 2 18 2C16.3431 2 15 3.34315 15 5C15 6.65685 16.3431 8 18 8Z"
                  stroke="gray"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                </path>
                <path
                  d="M15.41 6.50977L8.58997 10.4898"
                  stroke="gray"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                </path>
              </svg>
            </a>
          </div>
        </div>
        <!-- image -->
        <div
          class="w-[359px] h-[179px] bg-no-repeat bg-cover bg-center rounded-tr-[16px] rounded-br-[16px]"
          style="background-image: url('/event-image.png');"
        >
          <!-- <img src="/event-image.png" alt="event page background" class="w-full h-full object-cover"> -->
        </div>
      </div>
    </div>
  </section>

  <!-- About event and event details -->
  <section class="flex justify-between items-center w-[1142px] mx-auto overflow-hidden mt-8">
    <!-- about section -->
    <div class="w-[704px] h-[528px]">
      <p class="text-xl font-medium mb-4 text-gray-500">About</p>
      <hr />
      <!-- about event content -->
      <div class="mt-4">
        <p class="text-base text-justify text-gray-500">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis aliquam sem
          nec commodo. Quisque lobortis, felis at cursus mattis, ligula nulla tristique augue, non
          tristique dui sapien ut diam. Morbi nisi leo, aliquam id ligula quis, imperdiet tristique
          nunc. Phasellus at bibendum purus, sed tincidunt ipsum. Maecenas ante libero, tincidunt ac
          iaculis at, cursus eget nisl. Morbi in dictum felis. Phasellus dui felis, placerat in
          blandit vel, laoreet et ligula. Quisque pharetra risus eu nisl mollis, ultrices porttitor
          leo volutpat. Cras velit sem, ornare ut maximus vitae, malesuada ut mauris. Pellentesque
          scelerisque nisl quis dui imperdiet interdum. Proin purus quam, rhoncus imperdiet porta
          eget, maximus eget nisi. Donec vitae odio eu orci convallis vehicula in id ligula. Sed sit
          amet mi porta, eleifend turpis vitae, pretium ex. Suspendisse finibus dui ligula, id
          malesuada turpis faucibus in. Quisque tincidunt aliquam turpis vitae gravida. Duis
          efficitur vel sem id porttitor. Nam venenatis nunc ac ante blandit, mollis posuere erat
          scelerisque. Proin pretium tempus efficitur. Fusce commodo, diam non pellentesque tempus,
          dolor velit iaculis tortor, a tincidunt elit neque id diam. Donec luctus nulla ut justo
          mattis, in ultricies lectus sollicitudin. Pellentesque ac suscipit nisi. Sed neque leo,
          ullamcorper eu neque eget, faucibus consequat dolor. In viverra faucibus lacus sed
          consequat. Aliquam erat volutpat. Praesent et nibh at tellus imperdiet consequat. Sed
          felis metus, dapibus in gravida vehicula, pretium ut arcu. In condimentum nec magna non
          faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos.
        </p>
      </div>
    </div>

    <!-- event details content for location, attendance, dates, and cost -->
    <div class="w-[352px] h-[576px]">
      <p class="text-xl font-medium mt-[22px] mb-4 text-gray-500">Event details</p>
      <hr class="mb-4" />
      <!-- Location -->
      <div class="flex items-center">
        <div class="rounded-full bg-red-50 p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z"
              stroke="#F04438"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
              stroke="#F04438"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
          </svg>
        </div>
        <div class="ml-2 leading-6">
          <p class="text-xl font-bold text-gray-500">Location</p>
          <p class="font-normal text-gray-500">124, Johnson street, Asokoro, Abuja</p>
        </div>
      </div>
      <!-- Attendance -->
      <div class="flex items-center mt-8">
        <div class="rounded-full bg-cyan-50 p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M23 20.9999V18.9999C22.9993 18.1136 22.7044 17.2527 22.1614 16.5522C21.6184 15.8517 20.8581 15.3515 20 15.1299"
              stroke="#06AED4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21"
              stroke="#06AED4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M16 3.12988C16.8604 3.35018 17.623 3.85058 18.1676 4.55219C18.7122 5.2538 19.0078 6.11671 19.0078 7.00488C19.0078 7.89305 18.7122 8.75596 18.1676 9.45757C17.623 10.1592 16.8604 10.6596 16 10.8799"
              stroke="#06AED4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z"
              stroke="#06AED4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
          </svg>
        </div>
        <div class="ml-2 leading-6">
          <p class="text-xl font-bold text-gray-500">Attendance</p>
          <p class="font-normal text-gray-500">Physical + Online</p>
        </div>
      </div>
      <!-- Date & Time -->
      <div class="flex mt-8">
        <div class="rounded-full bg-[#FFFAEB] p-2 w-10 h-10">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z"
              stroke="#F79009"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M3 10H21"
              stroke="#F79009"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M16 2V6"
              stroke="#F79009"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <path
              d="M8 2V6"
              stroke="#F79009"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
          </svg>
        </div>
        <div class="ml-2">
          <p class="text-xl font-bold text-gray-500">Date & Time</p>
          <div class="flex mt-2">
            <div class="mr-8">
              <p class="text-xs text-gray-700">From</p>
              <p class="text-gray-500">June 30th</p>
              <p class="text-gray-500">10:00 GMT +1</p>
            </div>
            <div>
              <p class="text-xs text-gray-700">To</p>
              <p class="text-gray-500">July 3rd</p>
              <p class="text-gray-500">16:00 GMT +1</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Cost -->
      <div class="flex items-center mt-8">
        <div class="rounded-full bg-green-50 p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M7 16C8 17 10 18 12 18M12 18C14.5 18 17 17.5 17 15C17 12.5 14.5495 12 12 12M12 18V12M12 18V21M12 12C9.5 12 7 11.5 7 9C7 6.5 9.5 6 12 6M12 12V6M12 6C14 6 16 7 17 8M12 6V3"
              stroke="#17B26A"
              stroke-width="2"
            >
            </path>
          </svg>
        </div>
        <div class="ml-2 leading-6">
          <p class="text-xl font-bold text-gray-500">Cost</p>
          <p class="font-normal text-gray-500">Free</p>
        </div>
      </div>

      <div class="flex mt-8 gap-4">
        <Button href="#" label="Register" style="primary" size="md" width="w-[240px]" />
        <Button href="#" label="icon" style="secondary" size="md" />
      </div>
      <div class="flex mt-4 items-center">
        <p class="text-sm text-gray-500">Registration open till June 28th 10:00 GMT +1</p>
      </div>
    </div>
  </section>

  <!-- Host & Speakers -->
  <section class="flex justify-between items-center w-[1142px] mx-auto overflow-hidden mt-8">
    <div class="w-[704px]">
      <p class="text-xl font-medium mb-4 text-gray-500">Host & Speakers</p>
      <hr />
      <!-- Host -->
      <div class="w-[221px] h-[60px]">
        <div class="flex mt-8">
          <div class="mr-[68px]">
            <p class="text-base font-semibold text-gray-700">Host</p>
          </div>
          <div>
            <p class="text-base font-semibold text-gray-700">Ted X</p>
            <div class="flex items-center gap-2 mt-2">
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <g clip-path="url(#clip0_1949_14777)">
                    <path
                      d="M19.1654 2.50008C18.3674 3.06298 17.4838 3.4935 16.5487 3.77508C16.0468 3.198 15.3798 2.78899 14.6379 2.60335C13.896 2.41771 13.1149 2.46441 12.4004 2.73712C11.6859 3.00984 11.0724 3.49541 10.6428 4.12818C10.2133 4.76094 9.98845 5.51036 9.9987 6.27508V7.10841C8.53423 7.14639 7.08309 6.82159 5.77454 6.16295C4.46598 5.50431 3.34063 4.53228 2.4987 3.33341C2.4987 3.33341 -0.834635 10.8334 6.66536 14.1667C4.94914 15.3317 2.90466 15.9159 0.832031 15.8334C8.33203 20.0001 17.4987 15.8334 17.4987 6.25008C17.4979 6.01796 17.4756 5.78641 17.432 5.55841C18.2825 4.71966 18.8827 3.66067 19.1654 2.50008V2.50008Z"
                      stroke="#A3A3A3"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_1949_14777">
                      <rect width="20" height="20" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <g clip-path="url(#clip0_1949_14749)">
                    <path
                      d="M10.0013 18.3332C14.6037 18.3332 18.3346 14.6022 18.3346 9.99984C18.3346 5.39746 14.6037 1.6665 10.0013 1.6665C5.39893 1.6665 1.66797 5.39746 1.66797 9.99984C1.66797 14.6022 5.39893 18.3332 10.0013 18.3332Z"
                      stroke="#A3A3A3"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M1.66797 10H18.3346"
                      stroke="#A3A3A3"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M10.0013 1.6665C12.0857 3.94846 13.2703 6.90987 13.3346 9.99984C13.2703 13.0898 12.0857 16.0512 10.0013 18.3332C7.9169 16.0512 6.73234 13.0898 6.66797 9.99984C6.73234 6.90987 7.9169 3.94846 10.0013 1.6665V1.6665Z"
                      stroke="#A3A3A3"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_1949_14749">
                      <rect width="20" height="20" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M5.0013 7.5H1.66797V17.5H5.0013V7.5Z"
                    stroke="#A3A3A3"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M13.332 6.6665C14.6581 6.6665 15.9299 7.19329 16.8676 8.13097C17.8052 9.06865 18.332 10.3404 18.332 11.6665V17.4998H14.9987V11.6665C14.9987 11.2245 14.8231 10.8006 14.5105 10.488C14.198 10.1754 13.7741 9.99984 13.332 9.99984C12.89 9.99984 12.4661 10.1754 12.1535 10.488C11.841 10.8006 11.6654 11.2245 11.6654 11.6665V17.4998H8.33203V11.6665C8.33203 10.3404 8.85882 9.06865 9.7965 8.13097C10.7342 7.19329 12.0059 6.6665 13.332 6.6665V6.6665Z"
                    stroke="#A3A3A3"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M3.33464 4.99984C4.25511 4.99984 5.0013 4.25365 5.0013 3.33317C5.0013 2.4127 4.25511 1.6665 3.33464 1.6665C2.41416 1.6665 1.66797 2.4127 1.66797 3.33317C1.66797 4.25365 2.41416 4.99984 3.33464 4.99984Z"
                    stroke="#A3A3A3"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Speakers -->
      <div class="w-[227px] h-[120px] mt-8">
        <div class="flex mt-2">
          <div class="mr-8">
            <p class="text-base font-semibold text-gray-700">Speakers</p>
          </div>
          <div>
            <p class="text-base text-gray-700">Olarewaju Seyi</p>
            <p class="text-base text-gray-700">Emmanuel Chris</p>
            <p class="text-base text-gray-700">Mercy Chinwe</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Who can attend? -->
  <section class="flex justify-between items-center w-[1142px] mx-auto overflow-hidden mt-16">
    <div class="w-[704px]">
      <p class="text-xl font-medium mb-4 text-gray-500">Who can attend?</p>
      <hr />
      <!-- categories -->
      <div class="mt-8 flex flex-wrap gap-2">
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Front End Developers
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Backend Developers
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Founders
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Community Managers
        </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Designers
          </span>
        <span class="rounded-3xl border border-gray-400 bg-gray-100 text-gray-500 px-3 py-1">
          Social Media Influencers
        </span>
      </div>
    </div>
  </section>

  <!-- Tags -->
  <section class="flex justify-between items-center w-[1142px] mx-auto overflow-hidden mt-16">
    <div class="w-[704px]">
      <p class="text-xl font-medium mb-4 text-gray-500">Tags</p>
      <hr />
      <!-- tags -->
      <div class="mt-8 flex flex-wrap gap-2">
        <span class="rounded-2xl border border-cyan-50 bg-cyan-50 text-cyan-500 px-2.5 py-1 text-xs">
          Nigeria
        </span>
        <span class="rounded-2xl border border-gray-50 bg-gray-50 text-gray-500 px-2.5 py-1 text-xs">
          Techie
        </span>
        <span class="rounded-2xl border border-red-50 bg-red-50 text-red-500 px-2.5 py-1 text-xs">
          Skills
        </span>
        <span class="rounded-2xl border border-violet-50 bg-violet-50 text-violet-500 px-2.5 py-1 text-xs">
          Tech events
        </span>
        <span class="rounded-2xl border border-green-50 bg-green-50 text-green-500 px-2.5 py-1 text-xs">
          Lagos
          </span>
      </div>
    </div>
  </section>
  <!-- Contact Organizer -->
</Layout>
